In [18]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime

# <font color='orange'>01. load data

In [19]:
rootpath = r'C:\Users\w10\Desktop\신용평가모형 세미나\2주차\데이터\temp'

In [20]:
os.listdir(rootpath)

['final_inner_total_df.csv',
 'temp1_inner_total_df.csv',
 'temp2_inner_total_df.csv',
 'temp3_inner_total_df.csv',
 'temp4_inner_total_df.csv',
 'temp5_inner_total_df.csv',
 'total_df.pkl']

In [21]:
total_df = pd.read_pickle(os.path.join(rootpath, 'total_df.pkl'), )

In [22]:
inner_total_df = pd.read_csv(os.path.join(rootpath, 'final_inner_total_df.csv'), )

In [23]:
total_df.head(2)

,no,신청월,직군그룹,근속기간1,웰컴_소득구간,심사원장_소득구간,AS0000136,AS0000137,AS0000138,AS0000139,...,P2O000500_1_s6,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12
0,1,201612,NaN,5.0,5.0,0.0,26,-1,1,0,...,0.0,0.15,0.15,345.45,0.0,0.09,0.09,214.29,214.29,0.0
1,2,201612,D,5.0,2.0,0.0,-1,32,1,0,...,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0

In [24]:
inner_total_df.head(2)

,no,신청월,직군그룹,근속기간1,웰컴_소득구간,심사원장_소득구간,EXECUTE_FG,DESTRUCT_FG,Y_2017_FG,Y_2018_FG,...,BAD_금융_카드_12,BAD_금융_캐피탈_12,BAD_금융_저축은행_12,BAD_대부_12,BAD_금융_6,BAD_금융_카드_6,BAD_금융_캐피탈_6,BAD_금융_저축은행_6,BAD_대부_6,BAD
0,1,201612,NaN,5.0,5.0,0.0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,201612,D,5.0,2.0,0.0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

# <font color='orange'>02. 개발/검증데이터 나누기

In [37]:
# 개발+검증 대상자 CB항목 데이터 생성
dev_inner_df = inner_total_df[(inner_total_df['FINAL_DUP_FG']==0)&(inner_total_df['GRADE_ZERO_FG']==0)]
print('대상자 내부항목 데이터 크기 : ', dev_inner_df.shape)

대상자 내부항목 데이터 크기 :  (378654, 67)

In [38]:
# 대상자 no list 생성
dev_no_list = dev_inner_df['no'].tolist()
# 대상자 CB 데이터 생성
dev_cb_df = total_df[total_df['no'].isin(dev_no_list)]
print('대상자 CB항목 데이터 크기 : ', dev_cb_df.shape)

대상자 CB항목 데이터 크기 :  (378654, 1928)

In [39]:
# 내부항목 모형개발, 검증 데이터 나누기
model_dev_inner_df = dev_inner_df[dev_inner_df['신청월']<201811]
model_valid_inner_df = dev_inner_df[(dev_inner_df['신청월'].isin([201908, 201909, 201910]))]

In [40]:
# CB항목 모형개발, 검증 데이터 나누기
model_dev_cb_df = dev_cb_df[dev_cb_df['신청월']<201811]
model_valid_cb_df = dev_cb_df[(dev_cb_df['신청월'].isin([201908, 201909, 201910]))]

In [41]:
print('내부항목')
print('모형개발 데이터 크기 : ', model_dev_inner_df.shape)
print('모형검증 데이터 크기 : ', model_valid_inner_df.shape)
print('='*30)
print('CB항목')
print('모형개발 데이터 크기 : ', model_dev_cb_df.shape)
print('모형검증 데이터 크기 : ', model_valid_cb_df.shape)

내부항목
모형개발 데이터 크기 :  (240016, 67)
모형검증 데이터 크기 :  (40942, 67)
==============================
CB항목
모형개발 데이터 크기 :  (240016, 1928)
모형검증 데이터 크기 :  (40942, 1928)

In [42]:
inner_total_df.shape

(418979, 67)

# <font color='orange'>03. 저장

In [46]:
save_path = r'C:\Users\w10\Desktop\신용평가모형 세미나\2주차\데이터\dev_data'

In [47]:
model_dev_inner_df.to_csv(os.path.join(save_path, 'model_dev_inner_df.csv'), index = False)
model_valid_inner_df.to_csv(os.path.join(save_path, 'model_valid_inner_df.csv'), index = False)

In [48]:
model_dev_cb_df.to_csv(os.path.join(save_path, 'model_dev_cb_df.csv'), index = False)
model_valid_cb_df.to_csv(os.path.join(save_path, 'model_valid_cb_df.csv'), index = False)