# <font color = 'orange'>import packages

In [1]:
import pandas as pd
import numpy as np
import os
import sys
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
start_time = datetime.now()

# <font color = 'orange'> load data

## load CB data

In [3]:
preprocessing_start = datetime.now()

In [4]:
# set path
data_rootpath = r'C:\Users\w10\Desktop\웰컴\AS\8주차(데이터추가추출부터)\dev_data\seg1'

In [5]:
os.listdir(data_rootpath)

['test_df.csv',
 'total_df.csv',
 'train_df.csv',
 'valid_df.csv',
 'val_2019_df.csv',
 '필터링후']

In [6]:
# load cb dat
trn_path = os.path.join(data_rootpath, 'train_df.csv')
val_path = os.path.join(data_rootpath, 'valid_df.csv')
tst_path = os.path.join(data_rootpath, 'test_df.csv')
model_valid_path = os.path.join(data_rootpath, 'val_2019_df.csv')

CB_trn = pd.read_csv(trn_path, )
CB_val = pd.read_csv(val_path, )
CB_tst = pd.read_csv(tst_path,)
CB_model_valid = pd.read_csv(model_valid_path, )

In [7]:
# check each dataset dimension
print('CB train set dim : ', CB_trn.shape)
print('CB valid set dim : ', CB_val.shape)
print('CB test set dim : ', CB_tst.shape)
print('CB model validation set dim : ', CB_model_valid.shape)

CB train set dim :  (73533, 1937)
CB valid set dim :  (24728, 1937)
CB test set dim :  (24547, 1937)
CB model validation set dim :  (19936, 1937)

In [8]:
CB_trn.head()

,no,신청월,직군그룹,근속기간1,웰컴_소득구간,심사원장_소득구간,BAD,INCOME,UDIR,SEG,...,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12,AGE
0,1,201612,F,5.0,2.0,2.0,1,16000,73.94,1,...,0.22,0.22,1362.45,0.0,0.14,0.14,870.91,870.91,0.0,2
1,3,201612,NaN,5.0,3.0,0.0,1,30000,120.45,1,...,0.00,0.00,-55.53,0.0,0.00,0.00,414.60,414.60,0.0,4
2,6,201612,NaN,5.0,5.0,5.0,0,15000,61.33,1,...,0.05,0.05,163.64,0.0,0.03,0.03,98.90,98.90,0.0,2
3,9,201612,D,5.0,2.0,0.0,0,18000,109.44,1,...,0.11,0.11,309.49,0.0,0.07,0.07,187.05,187.05,0.0,5
4,12,201612,F,5.0,3.0,0.0,1,30000,0.00,1,...,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,2

In [9]:
# index 설정
def set_index_and_sort(df, index_col):
    df.set_index(index_col, inplace=True, drop=True, verify_integrity=True)
    df.sort_index(inplace=True)
    return df

In [10]:
CB_trn = set_index_and_sort(CB_trn, 'no')
CB_val = set_index_and_sort(CB_val,'no')
CB_tst = set_index_and_sort(CB_tst,'no')
CB_model_valid = set_index_and_sort(CB_model_valid, 'no')

In [11]:
CB_trn.head()

,신청월,직군그룹,근속기간1,웰컴_소득구간,심사원장_소득구간,BAD,INCOME,UDIR,SEG,HOUSE_LOAN_FG,...,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12,AGE
no,,,,,,,,,,,,,,,,,,,,,
1,201612,F,5.0,2.0,2.0,1,16000,73.94,1,0,...,0.22,0.22,1362.45,0.0,0.14,0.14,870.91,870.91,0.0,2
3,201612,NaN,5.0,3.0,0.0,1,30000,120.45,1,0,...,0.00,0.00,-55.53,0.0,0.00,0.00,414.60,414.60,0.0,4
6,201612,NaN,5.0,5.0,5.0,0,15000,61.33,1,0,...,0.05,0.05,163.64,0.0,0.03,0.03,98.90,98.90,0.0,2
9,201612,D,5.0,2.0,0.0,0,18000,109.44,1,0,...,0.11,0.11,309.49,0.0,0.07,0.07,187.05,187.05,0.0,5
12,201612,F,5.0,3.0,0.0,1,30000,0.00,1,0,...,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,2

## load layout

In [12]:
# load layout
layout_path = r'C:\Users\w10\Desktop\웰컴\AS\8주차(데이터추가추출부터)\layout'

col_df_path = os.path.join(layout_path, '(SD)AS프로젝트_SEG1_CB_레이아웃_200203_v1.0.xlsx')
col_df = pd.read_excel(col_df_path,)

In [13]:
col_df.head(2)

,NO,Variable,aggvar_name,group_code1,group_code2,group_2,총 건수,MISSING,결과값 = 0,MISSING(결과값 = 0 포함),...,mean,min_value,max_value,median,is_na,min_check,max_check,date_var,cate_var,welc_can_use
0,1,no,NaN,NaN,NaN,NaN,72396,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,0,1,활용 불가
1,2,신청월,NaN,NaN,NaN,NaN,72396,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,1,0,활용 불가

# <font color = 'orange'>layout 파악

### 레이아웃 수정
* 개발데이터 변수와 일치하는 변수 레이아웃 설정

In [14]:
dev_cols_df = pd.DataFrame({'Variable':CB_trn.columns.tolist()})

In [15]:
# layout과 dataset에 모두 존재하는 항목 레이아웃정보 생성
col_df = col_df.merge(dev_cols_df, on = ['Variable'], how = 'inner')

In [16]:
print(col_df.shape)
col_df.head()

(1935, 21)

,NO,Variable,aggvar_name,group_code1,group_code2,group_2,총 건수,MISSING,결과값 = 0,MISSING(결과값 = 0 포함),...,mean,min_value,max_value,median,is_na,min_check,max_check,date_var,cate_var,welc_can_use
0,2,신청월,NaN,NaN,NaN,NaN,72396,0,0,0,...,NaN,NaN,NaN,NaN,0,0,0,1,0,활용 불가
1,3,직군그룹,NaN,내부변수,웰컴정보,6.0,72396,32849,0,32849,...,NaN,NaN,NaN,NaN,1,0,0,0,1,활용 불가
2,4,근속기간1,근속개월_신청일기준_구간화,내부변수,웰컴정보,6.0,72396,1248,1469,2717,...,4.171797,0.0,5.0,5.0,1,0,0,0,0,활용 불가
3,5,웰컴_소득구간,웰컴크레디라인대부최종연소득_구간화,내부변수,웰컴정보,6.0,72396,1248,3,1251,...,3.326320,0.0,5.0,3.0,1,0,0,0,0,활용 불가
4,6,심사원장_소득구간,심사원장_연소득_구간화,내부변수,웰컴정보,6.0,72396,1248,46621,47869,...,1.364044,0.0,5.0,0.0,1,0,0,0,0,활용 불가

In [17]:
col_df.shape

(1935, 21)

### 활용 불가 변수 파악

* project별 상이

In [18]:
not_use_col_df = col_df[col_df['welc_can_use'] == '활용 불가']

In [19]:
use_col_df = col_df[col_df['welc_can_use'] == '활용 가능']

In [20]:
not_use_col_df['group_code2'].value_counts().sort_index()

기타정보     31
대부정보    313
연체정보     15
웰컴정보     29
채무정보     19
Name: group_code2, dtype: int64

In [21]:
use_col_df['group_code2'].value_counts().sort_index()

기타정보    110
연체정보    424
웰컴정보    191
채무정보    533
카드정보    120
Name: group_code2, dtype: int64

### layout 활용불가 변수 제외

* 대부정보
  * 대부 정보 단변량은 실시
* 날짜정보
* 등급/스코어/소득 정보
* 기타 활용 불가 변수(내부정보, 연체정보 등등)

In [22]:
# 대부정보 - 활용 불가로 되어있어 포함
## 대부정보에서도 날짜정보 등 애초에 활용불가한 항목 제거 필요
group_col_df = col_df[(col_df['group_2'] == 3) | (col_df['welc_can_use'] == '활용 가능')]
group_cols = group_col_df['Variable'].tolist()
need_cols = ['BAD'] + group_cols

In [23]:
len(need_cols)

1692

In [24]:
CB_trn = CB_trn[need_cols]
CB_val = CB_val[need_cols]
CB_tst = CB_tst[need_cols]
CB_model_valid = CB_model_valid[need_cols]

In [25]:
print(CB_trn.shape)
print(CB_val.shape)
print(CB_tst.shape)

(73533, 1692)
(24728, 1692)
(24547, 1692)

In [26]:
CB_trn.head(2)

,BAD,AS0000136,AS0000137,AS0000138,AS0000139,B12000100,B12000200,B14000600,B22000100,B22000200,...,P2O000500_1_s6,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12
no,,,,,,,,,,,,,,,,,,,,,
1,1,27,-1,1,0,0,0,0,0,0,...,0.0,0.22,0.22,1362.45,0.0,0.14,0.14,870.91,870.91,0.0
3,1,-1,45,1,0,0,0,0,0,0,...,0.0,0.00,0.00,-55.53,0.0,0.00,0.00,414.60,414.60,0.0

### layout의 cate_var = 1 변수 string 타입으로 변환

In [27]:
cate_cols = group_col_df.loc[group_col_df['cate_var'] == 1, 'Variable'].tolist()

In [28]:
cate_cols

['AS0000138',
 'BS0000114',
 'BS0000145',
 'CA0000801',
 'EW0002801',
 'PS0000388',
 'PS0000392',
 'BE0000801',
 'BE0000802',
 'BS0000113',
 'LA0200801',
 'PE0000145',
 'KC1400010',
 'KC1400011',
 'KC1400012',
 'KC1400013',
 'KC1400014',
 'KC1400015',
 'KC1400016',
 'AS0000140',
 'BE0000801_1',
 'A5RCLSRL025700',
 'Thinfile_final',
 'S_3323',
 'cap2',
 'S_3318',
 'C_3319',
 'cap3',
 'S_3317',
 'cap1',
 'S23',
 'S24',
 'cap4',
 'C_3318',
 'S_3319',
 'C_3317',
 'C_3311',
 'A5RCLSRL047500',
 'A5RCLSRL047600',
 'A5RCLSRL047700']

In [29]:
len(cate_cols)

40

In [30]:
cate_cols = list(set(CB_trn.columns).intersection(cate_cols))

In [31]:
cate_cols

['PS0000392',
 'KC1400016',
 'S24',
 'BS0000113',
 'cap3',
 'C_3311',
 'CA0000801',
 'C_3318',
 'A5RCLSRL025700',
 'KC1400012',
 'LA0200801',
 'C_3319',
 'S_3318',
 'BE0000801',
 'KC1400014',
 'S_3319',
 'BE0000802',
 'cap1',
 'BS0000145',
 'KC1400015',
 'Thinfile_final',
 'A5RCLSRL047600',
 'AS0000138',
 'KC1400010',
 'cap2',
 'PE0000145',
 'EW0002801',
 'A5RCLSRL047700',
 'BE0000801_1',
 'KC1400011',
 'S_3317',
 'A5RCLSRL047500',
 'S23',
 'cap4',
 'C_3317',
 'AS0000140',
 'BS0000114',
 'PS0000388',
 'KC1400013',
 'S_3323']

# <font color = 'orange'> preprocessing

## 결측 98% 이상 삭제

* 결측치 case
  * numeric, categorical 변수 모두 적용
      1. 기본 Nan값
      2. layout에서 min_check == 1의 min_value
      3. layout에서 max_check == 1의 max_value





* 1, 2, 3의 case를 전부 다 더한 후 98%이상 삭제




* layout 기준 min_check/max_check가 1이 아니더라도 결측치가지는 변수 존재
  * ex) 항목 A : min_check = 0, min_value = -4442135478621 -> 항목값에 -999,-9999,999999999 등의 결측값 존재 가능
  * 결측값은 제한되어있기 때문에 모든 변수에 적용

#### 1. 기본 Nan값 확인

In [32]:
def na_check(data):
    result = np.sum(data.isna())
    return result

In [33]:
na_df = CB_trn.apply(na_check)

In [34]:
na_df

BAD                0
AS0000136          0
AS0000137          0
AS0000138          0
AS0000139          0
                  ..
LA0000001_1_s12    0
LA0000020_1_s12    0
LA0000204_1_s12    0
LA0000227_1_s12    0
P2O000500_1_s12    0
Length: 1692, dtype: int64

#### 2. min_check == 1의 min_value check

In [35]:
need_cols = ['Variable','min_value','min_check']
min_check_df = group_col_df[need_cols][group_col_df['min_check'] == 1]

In [36]:
min_check_df.head(2)

     Variable  min_value  min_check
67  CL1200918     -999.0          1
68  CL0600919     -999.0          1

In [37]:
min_check_var = min_check_df['Variable'].values.tolist()

In [38]:
min_check_value = min_check_df['min_value'].values.tolist()

In [39]:
# min_check_result = pd.Series(index = CB_trn.columns.tolist())
# for min_variable, min_value in zip(min_check_var, min_check_value):
#     result = np.sum(CB_trn[min_variable] == min_value)
#     min_check_result[min_variable] = result
#     min_check_result = min_check_result.fillna(0)

In [40]:
for idx, min_value in enumerate(np.unique(min_check_value)):
    if idx == 0 :
        value1 = np.sum(CB_trn == min_value)
        min_check_result = value1
    else:
        value2 = np.sum(CB_trn == min_value)
        min_check_result = value2 + min_check_result

#### 2. max_check == 1의 max_value check

In [41]:
need_cols = ['Variable','max_value','max_check']
max_check_df = group_col_df[need_cols][group_col_df['max_check'] == 1]

In [42]:
max_check_df.head(2)

     Variable    max_value  max_check
66  CL0000002  999999992.0          1
67  CL1200918  999999991.0          1

In [43]:
max_check_var = max_check_df['Variable'].values.tolist()

In [44]:
max_check_value = max_check_df['max_value'].values.tolist()

In [45]:
# max_check_result = pd.Series(index = CB_trn.columns.tolist())
# for max_variable, max_value in zip(max_check_var, max_check_value):
#     result = np.sum(CB_trn[max_variable] == max_value)
#     max_check_result[max_variable] = result
#     max_check_result = max_check_result.fillna(0)

In [46]:
for idx, max_value in enumerate(np.unique(max_check_value)):
    if idx == 0 :
        value1 = np.sum(CB_trn == max_value)
        max_check_result = value1
    else:
        value2 = np.sum(CB_trn == max_value)
        max_check_result = value2 + max_check_result

In [47]:
max_check_result

BAD                0
AS0000136          0
AS0000137          0
AS0000138          0
AS0000139          0
                  ..
LA0000001_1_s12    0
LA0000020_1_s12    0
LA0000204_1_s12    0
LA0000227_1_s12    0
P2O000500_1_s12    0
Length: 1692, dtype: int64

In [48]:
total_na_df = na_df + min_check_result + max_check_result

In [49]:
total_na_df

BAD                0
AS0000136          0
AS0000137          0
AS0000138          0
AS0000139          0
                  ..
LA0000001_1_s12    0
LA0000020_1_s12    0
LA0000204_1_s12    0
LA0000227_1_s12    0
P2O000500_1_s12    0
Length: 1692, dtype: int64

In [50]:
total_na_p_df = total_na_df / CB_trn.shape[0]

In [51]:
total_na_p_df

BAD                0.0
AS0000136          0.0
AS0000137          0.0
AS0000138          0.0
AS0000139          0.0
                  ...
LA0000001_1_s12    0.0
LA0000020_1_s12    0.0
LA0000204_1_s12    0.0
LA0000227_1_s12    0.0
P2O000500_1_s12    0.0
Length: 1692, dtype: float64

In [52]:
too_many_na_df = total_na_p_df[total_na_p_df>0.98]

In [53]:
too_many_na_cols = too_many_na_df.index

In [54]:
too_many_na_cols

Index([], dtype='object')

In [55]:
len(too_many_na_cols)

0

In [56]:
na_df = pd.DataFrame({'remove_col' : too_many_na_cols})

In [57]:
na_df

Empty DataFrame
Columns: [remove_col]
Index: []

In [58]:
CB_trn = CB_trn.drop(too_many_na_cols, axis = 1)
CB_val = CB_val.drop(too_many_na_cols, axis = 1)
CB_tst = CB_tst.drop(too_many_na_cols, axis = 1)
CB_model_valid = CB_model_valid.drop(too_many_na_cols, axis = 1)

In [59]:
print(CB_trn.shape)
print(CB_val.shape)
print(CB_tst.shape)
print(CB_model_valid.shape)

(73533, 1692)
(24728, 1692)
(24547, 1692)
(19936, 1692)

In [60]:
group_col_df = group_col_df[group_col_df['Variable'].isin(too_many_na_cols) == False]
group_col_df.shape

(1691, 21)

## 결측치 value 이면 0으로 변환

* numeric 변수
  1. Nan -> 0 
  2. min_value -> 0
  3. max_value -> 0 


* categorical 변수
  * "NULL" string으로 변환

In [61]:
cols = CB_trn.columns

In [62]:
len(cols)

1692

In [63]:
cate_cols = group_col_df.loc[group_col_df['cate_var'] == 1, 'Variable'].tolist()
num_cols = list(set(cols).difference(cate_cols))

#### 1. Nan -> 0 변환

In [64]:
CB_trn[num_cols] = CB_trn[num_cols].fillna(0)
CB_val[num_cols] = CB_val[num_cols].fillna(0)
CB_tst[num_cols] = CB_tst[num_cols].fillna(0)
CB_model_valid[num_cols] = CB_model_valid[num_cols].fillna(0)

In [65]:
CB_trn[cate_cols] = CB_trn[cate_cols].fillna('NULL')
CB_val[cate_cols] = CB_val[cate_cols].fillna('NULL')
CB_tst[cate_cols] = CB_tst[cate_cols].fillna('NULL')
CB_model_valid[cate_cols] = CB_model_valid[cate_cols].fillna('NULL')

#### 2. min_value -> 0 변환

In [66]:
def na_change(data, value):
    data = np.where(data == value, 0 ,data)
    return data

In [67]:
need_cols = ['Variable','min_value','min_check']
min_check_df = group_col_df[need_cols][group_col_df['min_check'] == 1]

In [68]:
min_check_df.head(2)

     Variable  min_value  min_check
67  CL1200918     -999.0          1
68  CL0600919     -999.0          1

In [69]:
min_check_var = min_check_df['Variable'].values.tolist()

In [70]:
min_check_value = min_check_df['min_value'].values.tolist()

In [71]:
for min_value in np.unique(min_check_value):
    CB_trn = CB_trn.apply(na_change, value = min_value)
    CB_val = CB_val.apply(na_change, value = min_value)
    CB_tst = CB_tst.apply(na_change, value = min_value)
    CB_model_valid = CB_model_valid.apply(na_change, value = min_value)

In [72]:
# for variable, min_value in zip(min_check_var, min_check_value):
#     CB_trn[variable] = CB_trn[variable].apply(na_change, value = min_value)
#     CB_val[variable] = CB_val[variable].apply(na_change, value = min_value)
#     CB_tst[variable] = CB_tst[variable].apply(na_change, value = min_value)
#     CB_model_valid[variable] = CB_model_valid[variable].apply(na_change, value = min_value)

#### 3. max_value -> 0 변환

In [73]:
need_cols = ['Variable','max_value','max_check']
max_check_df = group_col_df[need_cols][group_col_df['max_check'] == 1]

In [74]:
max_check_df.head(2)

     Variable    max_value  max_check
66  CL0000002  999999992.0          1
67  CL1200918  999999991.0          1

In [75]:
max_check_var = max_check_df['Variable'].values.tolist()

In [76]:
max_check_value = max_check_df['max_value'].values.tolist()

In [77]:
for max_value in np.unique(max_check_value):
    CB_trn = CB_trn.apply(na_change, value = max_value)
    CB_val = CB_val.apply(na_change, value = max_value)
    CB_tst = CB_tst.apply(na_change, value = max_value)
    CB_model_valid = CB_model_valid.apply(na_change, value = max_value)

### 변수 타입 재설정

In [78]:
CB_trn[cate_cols] = CB_trn[cate_cols].applymap(str)
CB_val[cate_cols] = CB_val[cate_cols].applymap(str)
CB_tst[cate_cols] = CB_tst[cate_cols].applymap(str)
CB_model_valid[cate_cols] = CB_model_valid[cate_cols].applymap(str)

### date_var 제거

In [79]:
date_var = group_col_df[group_col_df['date_var'] == 1]['Variable'].values.tolist()

In [80]:
len(date_var)

10

In [81]:
len(CB_trn.columns[CB_trn.columns.isin(date_var)])

10

In [82]:
CB_trn.drop(date_var, axis=1, inplace=True)
CB_val.drop(date_var, axis=1, inplace=True)
CB_tst.drop(date_var, axis=1, inplace=True)
CB_model_valid.drop(date_var, axis=1, inplace=True)

In [83]:
CB_trn.shape

(73533, 1682)

In [84]:
group_col_df = group_col_df[group_col_df['Variable'].isin(date_var) == False]

In [85]:
group_col_df.shape

(1681, 21)

In [86]:
# 항목 분류
num_cols = CB_trn.columns[CB_trn.dtypes != object].tolist()
num_cols.remove('BAD')
cate_cols = CB_trn.columns[CB_trn.dtypes == object].tolist()

## Numeric 변수에서 분산이 0인 경우 제거

In [87]:
# See the variance
std = CB_trn[num_cols].apply(np.std)

In [88]:
std[std == 0]

B12000200         0.0
B22000100         0.0
B22000200         0.0
B22000300         0.0
B24000600         0.0
                 ...
A5WC0000001900    0.0
A5WC0000002300    0.0
A5WC0000001300    0.0
A5WC0000008400    0.0
A5RCLSRL039100    0.0
Length: 134, dtype: float64

In [89]:
std = std[std != 0]

### Categorical 변수에서 범주 하나인 경우 제거

In [90]:
cate_std = CB_trn[cate_cols].apply(lambda x: len(pd.unique(x)))

In [91]:
print(len(cate_std[cate_std == 1]))
cate_std[cate_std == 1]

5

BS0000145         1
PE0000145         1
KC1400011         1
KC1400016         1
A5RCLSRL025700    1
dtype: int64

In [92]:
cate_std = cate_std[cate_std != 1]

In [93]:
# update
num_cols = list(std.keys())
cate_cols = list(cate_std.keys())
# categoricla + numerical
X_cols = cate_cols + num_cols
print(len(X_cols))

1542

In [94]:
len(num_cols)

1507

In [95]:
len(cate_cols)

35

# <font color = 'orange'> X,y split

In [96]:
CB_trn_y = CB_trn[['BAD']]
CB_val_y = CB_val[['BAD']]
CB_tst_y = CB_tst[['BAD']]
CB_model_valid_y = CB_model_valid[['BAD']]

print(CB_trn_y.shape)
print(CB_val_y.shape)
print(CB_tst_y.shape)

(73533, 1)
(24728, 1)
(24547, 1)

In [97]:
CB_trn_X = CB_trn[X_cols]
CB_val_X = CB_val[X_cols]
CB_tst_X = CB_tst[X_cols]
CB_model_valid_X = CB_model_valid[X_cols]

In [98]:
use_var = CB_trn_X.columns

In [99]:
use_var = list(use_var)
# use_var = np.sort(use_var)

In [100]:
CB_uni_trn_X = CB_trn_X[use_var]
CB_uni_val_X = CB_val_X[use_var]
CB_uni_tst_X = CB_tst_X[use_var]
CB_uni_model_valid_X = CB_model_valid_X[use_var]

print(CB_uni_trn_X.shape)
print(CB_uni_val_X.shape)
print(CB_uni_tst_X.shape)
print(CB_uni_model_valid_X.shape)

(73533, 1542)
(24728, 1542)
(24547, 1542)
(19936, 1542)

In [101]:
cate_cols = CB_trn_X.columns[CB_trn_X.dtypes == object]
num_cols = CB_trn_X.columns.drop(cate_cols)

In [102]:
print(len(cate_cols))
print(len(num_cols))

35
1507

In [103]:
CB_trn_X.head()

,AS0000138,BS0000114,CA0000801,EW0002801,PS0000388,PS0000392,BE0000801,BE0000802,BS0000113,LA0200801,...,P2O000500_1_s6,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12
no,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,1,1,0,0,0,0,0,...,0.0,0.22,0.22,1362.45,0.0,0.14,0.14,870.91,870.91,0.0
3,1,0,1,1,0,0,0,0,0,0,...,0.0,0.00,0.00,-55.53,0.0,0.00,0.00,414.60,414.60,0.0
6,1,0,1,0,0,0,0,0,0,0,...,0.0,0.05,0.05,163.64,0.0,0.03,0.03,98.90,98.90,0.0
9,1,0,1,0,0,0,0,0,0,0,...,0.0,0.11,0.11,309.49,0.0,0.07,0.07,187.05,187.05,0.0
12,1,0,1,0,0,0,0,0,0,0,...,0.0,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0

In [104]:
preprocessing_end = datetime.now()

In [105]:
preprocessing_time = (preprocessing_end - preprocessing_start).total_seconds()
print('단변량 준비과정 수행시간 : {:.3f}(초)'.format(preprocessing_time))

단변량 준비과정 수행시간 : 89.714(초)

# <font color = 'orange'>univariate

In [106]:
uni_start = datetime.now()

In [107]:
# Making Binned df
binned_trn_X = CB_uni_trn_X.copy()
binned_val_X = CB_uni_val_X.copy()
binned_tst_X = CB_uni_tst_X.copy()
binned_model_valid_X = CB_uni_model_valid_X.copy()

## 필요 모듈 import

In [108]:
from univariate.fine_classing import fine_classing, parallelize_fine_classing
from univariate.coarse_classing import coarse_classing, parallelize_coarse_classing
from univariate.calc_variable_statistics import calc_variable_stats, parallelize_calc_variable_stats
from univariate.performance_table import base_performance_table
# from univariate.univariate_analysis import select_candidate_variable
from univariate.univariate_analysis_other_psi import select_candidate_variable

## fine classing

In [109]:
?parallelize_fine_classing

Signature:
parallelize_fine_classing(
    x_train_df,
    x_valid_df,
    x_test_df,
    x_model_valid_df,
    numeric_columns_list,
    bin_cut,
    func,
    processes,
)
Docstring:
:explain: 병렬처리를 적용하여 fine classing 결과를 반환합니다.

:param dataframe x_train_df: 독립변수 train 데이터
:param dataframe x_valid_df: 독립변수 valid 데이터
:param dataframe x_test_df: 독립변수 test 데이터
:param dataframe x_model_valid_df: 독립변수 model valid 데이터
:param list numeric_columns_list: 숫자형 변수 리스트
:param array bin_cut: binning 기준 배열(numpy.linspace 권장)
:param function func: 병렬처리할 fine_classing 함수
:param int processes: 병렬처리에 사용할 core 개수
:return tuple:  binning 된 train/valid/test/model valid dataframe
File:      c:\users\w10\desktop\단변량모듈\kh\univariate\fine_classing.py
Type:      function

In [ ]:
fine_start = datetime.now()
q = np.linspace(0,1,51)
fine_classing_result = parallelize_fine_classing(x_train_df=binned_trn_X,
                                                 x_valid_df=binned_val_X,
                                                 x_test_df=binned_tst_X,
                                                 x_model_valid_df=binned_model_valid_X,
                                                 numeric_columns_list=num_cols,
                                                 bin_cut=q,
                                                 func=fine_classing,
                                                 processes=6,)

binned_trn_X = binned_trn_X.drop(num_cols, axis = 1)
binned_trn_X[num_cols] = fine_classing_result[0]

binned_val_X = binned_val_X.drop(num_cols, axis = 1)
binned_val_X[num_cols] = fine_classing_result[1]

binned_tst_X = binned_tst_X.drop(num_cols, axis = 1)
binned_tst_X[num_cols] = fine_classing_result[2]

binned_model_valid_X = binned_model_valid_X.drop(num_cols, axis = 1)
binned_model_valid_X[num_cols] = fine_classing_result[3]

fine_end = datetime.now()
fine_time = (fine_end - fine_start).total_seconds()
print('fine classing 수행시간 : {}(분) {}(초)'.format(fine_time//60, fine_time%60))

In [113]:
print(binned_trn_X.shape)
print(fine_classing_result[0].shape)

(73533, 1542)
(73533, 1507)

### bin 1개 변수 제거

In [114]:
bin_cnt = binned_trn_X.apply(lambda x: len(pd.unique(x)))
remove_vars = bin_cnt[bin_cnt == 1].keys().tolist()

In [115]:
len(remove_vars)

350

In [116]:
binned_trn_X = binned_trn_X.drop(remove_vars, axis = 1)
binned_val_X = binned_val_X.drop(remove_vars, axis = 1)
binned_tst_X = binned_tst_X.drop(remove_vars, axis = 1)
binned_model_valid_X = binned_model_valid_X.drop(remove_vars, axis = 1)

use_var = binned_trn_X.columns.tolist()

In [117]:
binned_trn_X.head()

,AS0000138,BS0000114,CA0000801,EW0002801,PS0000388,PS0000392,BE0000801,BE0000802,BS0000113,LA0200801,...,P2O000500_1_s6,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12
no,,,,,,,,,,,,,,,,,,,,,
1,1,0,1,1,1,0,0,0,0,0,...,"(-inf, 0.0]","(0.21, 0.24]","(0.21, 0.24]","(1171.662, 1390.351]","(-inf, 0.0]","(0.12, 0.14]","(0.12, 0.14]","(853.843, 986.986]","(841.993, 975.447]","(-inf, 0.0]"
3,1,0,1,1,0,0,0,0,0,0,...,"(-inf, 0.0]","(-0.05, 0.0]","(-0.04, 0.0]","(-101.774, -54.382]","(-inf, 0.0]","(-0.02, 0.0]","(-0.02, 0.0]","(409.656, 462.414]","(405.344, 458.644]","(-inf, 0.0]"
6,1,0,1,0,0,0,0,0,0,0,...,"(-inf, 0.0]","(0.0, 0.05]","(0.0, 0.05]","(155.065, 163.64]","(-inf, 0.0]","(0.02, 0.03]","(0.02, 0.03]","(78.676, 98.9]","(80.874, 98.9]","(-inf, 0.0]"
9,1,0,1,0,0,0,0,0,0,0,...,"(-inf, 0.0]","(0.1, 0.11]","(0.1, 0.11]","(303.03, 357.58]","(-inf, 0.0]","(0.06, 0.07]","(0.06, 0.07]","(174.56, 193.02]","(174.684, 192.848]","(-inf, 0.0]"
12,1,0,1,0,0,0,0,0,0,0,...,"(-inf, 0.0]","(-0.05, 0.0]","(-0.04, 0.0]","(-2.42, 0.0]","(-inf, 0.0]","(-0.02, 0.0]","(-0.02, 0.0]","(-1.489, 0.0]","(-0.16, 0.0]","(-inf, 0.0]"

In [118]:
def intersection(lst1, lst2): 
    lst3 = list(set(lst1).intersection(set(lst2)))
    return lst3

In [119]:
num_cols = intersection(use_var, num_cols)

In [120]:
len(num_cols)

1157

## coarse classing

In [121]:
bin_cnt = binned_trn_X.apply(lambda x: len(pd.unique(x)))
coarse_variable_list = bin_cnt[bin_cnt > 10].keys().tolist()
len(coarse_variable_list)

372

In [122]:
?parallelize_coarse_classing

Signature:
parallelize_coarse_classing(
    x_binned_train_df,
    y_train_df,
    x_binned_valid_df,
    x_binned_test_df,
    x_binned_model_valid_df,
    y_column_name,
    func,
    processes,
)
Docstring:
:explain: 병렬처리를 적용하여 coarse classing 결과를 반환합니다.

:param dataframe x_binned_train_df: fine classing 완료한 train 독립변수 데이터
:param dataframe y_train_df: train 종속변수 데이터
:param dataframe x_binned_valid_df: fine classing 완료한 valid 독립변수 데이터
:param dataframe x_binned_test_df: fine classing 완료한 test 독립변수 데이터
:param dataframe x_binned_model_valid_df: fine classing 완료한 model valid 독립변수 데이터
:param string y_column_name: 종속변수명
:param function func: 병렬처리할 coarse_classing 함수
:param int processes: 병렬처리에 사용할 core 개수
:return: binning 결합 완료된 train/valid/test/model valid dataframe의 tuple
File:      c:\users\w10\desktop\단변량모듈\kh\univariate\coarse_classing.py
Type:      function

In [123]:
coarse_start = datetime.now()
coarse_classing_result = parallelize_coarse_classing(x_binned_train_df = binned_trn_X,
                                                     y_train_df = CB_trn_y,
                                                     x_binned_valid_df = binned_val_X,
                                                     x_binned_test_df = binned_tst_X,
                                                     x_binned_model_valid_df = binned_model_valid_X,
                                                     y_column_name = 'BAD',
                                                     func = coarse_classing,
                                                     processes = 6,
)

binned_trn_X = coarse_classing_result[0]
binned_val_X = coarse_classing_result[1]
binned_tst_X = coarse_classing_result[2]
binned_model_valid_X = coarse_classing_result[3]

coarse_end= datetime.now()
coarse_time = (coarse_end-coarse_start).total_seconds()
print('coarse classing 수행시간 : {}(분) {}(초)'.format(coarse_time//60, coarse_time%60))

coarse classing 수행시간 : 1.0(분) 42.780103999999994(초)

### save binned data

In [124]:
trn_binned_df = pd.concat([CB_trn_y, binned_trn_X], axis = 1)
val_binned_df = pd.concat([CB_val_y, binned_val_X], axis = 1)
tst_binned_df = pd.concat([CB_tst_y, binned_tst_X], axis = 1)
model_valid_binned_df = pd.concat([CB_model_valid_y, binned_model_valid_X], axis = 1)

In [125]:
# s1 = datetime.now()
# trn_binned_df[use_var] = trn_binned_df[use_var].astype(str)
# val_binned_df[use_var] = val_binned_df[use_var].astype(str)
# tst_binned_df[use_var] = tst_binned_df[use_var].astype(str)
# model_valid_binned_df[use_var] = model_valid_binned_df[use_var].astype(str)
# s2 = datetime.now()
# oper_sec = (s2-s1).total_seconds()
# oper_min = oper_sec / 60
# print('수행시간 : {}(초) / {}(분)'.format(oper_sec, oper_min))

In [126]:
# save_path = r'########'

In [127]:
# trn_binned_df.to_pickle(os.path.join(save_path, 'trn_binned_df.pkl'))
# val_binned_df.to_pickle(os.path.join(save_path, 'val_binned_df.pkl'))
# tst_binned_df.to_pickle(os.path.join(save_path, 'tst_binned_df.pkl'))
# model_valid_binned_df.to_pickle(os.path.join(save_path, 'model_valid_binned_df.pkl'))

### calculate variable statistics

In [128]:
?parallelize_calc_variable_stats

Signature:
parallelize_calc_variable_stats(
    x_binned_df,
    use_columns_list,
    y_df,
    y_column_name,
    func,
    processes,
)
Docstring:
:explain: 병렬처리를 적용하여 statistics 결과를 변환합니다.

:param dataframe x_binned_df: coarse classing 완료한 독립변수 데이터
:param list use_columns_list: 사용할 변수 리스트
:param dataframe y_df: 종속변수 데이터
:param string y_column_name: 종속변수명
:param function func: 병렬처리할 calc_variable_stats 함수
:param int processes: 병렬처리에 사용할 core 개수
:return: 각각의 변수에 대한 statistics 결과 dictionary
File:      c:\users\w10\desktop\단변량모듈\kh\univariate\calc_variable_statistics.py
Type:      function

In [129]:
calc_start = datetime.now()
trn_stats_dict = parallelize_calc_variable_stats(x_binned_df = binned_trn_X,
                                                 y_df = CB_trn_y,
                                                 use_columns_list = use_var,
                                                 y_column_name = 'BAD',
                                                 processes = 6,
                                                 func = calc_variable_stats,)

val_stats_dict = parallelize_calc_variable_stats(x_binned_df = binned_val_X,
                                                 y_df = CB_val_y,
                                                 use_columns_list = use_var,
                                                 y_column_name = 'BAD',
                                                 processes = 6,
                                                 func = calc_variable_stats,)

tst_stats_dict = parallelize_calc_variable_stats(x_binned_df = binned_tst_X,
                                                 y_df = CB_tst_y,
                                                 use_columns_list = use_var,
                                                 y_column_name = 'BAD',
                                                 processes = 6,
                                                 func = calc_variable_stats,)

calc_end = datetime.now()
calc_time = (calc_end-calc_start).total_seconds()
print('수행시간 : {}(분) {}(초)'.format(calc_time//60, calc_time%60))

수행시간 : 1.0(분) 54.275667(초)

## set basic performance table

In [130]:
?base_performance_table

Signature:
base_performance_table(
    train_calc_stats_dict,
    valid_calc_stats_dict,
    test_calc_stats_dict,
    layout,
)
Docstring:
:explain: 입력 받은 train/valid/test의 statistics 계산결과를 layout과 병합하여 항목 정보를 생성하는 함수입니다.

:param dictionary train_calc_stats_dict: train 데이터의 독립변수 performance 결과
:param dictionary valid_calc_stats_dict: valid 데이터의 독립변수 performance 결과
:param dictionary test_calc_stats_dict: test 데이터의 독립변수 performance 결과
:param dataframe layout: layout 데이터
:return: 항목별 정보, performance 값을 가지는 dataframe
File:      c:\users\w10\desktop\단변량모듈\kh\univariate\performance_table.py
Type:      function

In [131]:
perf_start = datetime.now()
performance_table = base_performance_table(train_calc_stats_dict = trn_stats_dict, 
                                            valid_calc_stats_dict = val_stats_dict, 
                                            test_calc_stats_dict = tst_stats_dict, 
                                            layout = col_df)
perf_end = datetime.now()
perf_time = (perf_end-calc_start).total_seconds()
print('수행시간 : {}(분) {}(초)'.format(perf_time//60, perf_time%60))

수행시간 : 1.0(분) 57.091136000000006(초)

In [132]:
performance_table.head(2)

,NO,aggvar_name,group_code1,group_code2,group_2,총 건수,MISSING,결과값 = 0,MISSING(결과값 = 0 포함),n_unique,...,welc_can_use,ks_trn,ks_val,ks_tst,ar_trn,ar_val,ar_tst,iv_trn,iv_val,iv_tst
Variable,,,,,,,,,,,,,,,,,,,,,
A5RCLSDT011100,1488,총대출공여,웰컴항목,웰컴정보,6.0,72396,0,0,0,6,...,활용 가능,0.130470,0.060774,0.054224,0.130470,0.060774,0.054224,0.000807,0.000187,0.000124
A5RCLSDT011300,1514,제2금융기업총대출공여,웰컴항목,웰컴정보,6.0,72396,0,0,0,6,...,활용 가능,0.626956,0.620664,0.637328,0.626956,0.620664,0.637328,0.002012,0.001949,0.002173

## 후보변수 선정

#### 연령/성별 변수 제외

In [133]:
age_cols = ['AS0000136', 'AS0000137', 'AS0000140',]

In [134]:
trn_binned_df.drop(age_cols, axis = 1, inplace = True)
val_binned_df.drop(age_cols, axis = 1, inplace = True)
tst_binned_df.drop(age_cols, axis = 1, inplace = True)
model_valid_binned_df.drop(age_cols, axis = 1, inplace = True)

In [135]:
trn_binned_df.shape

(73533, 1190)

In [136]:
performance_table.drop(age_cols, axis = 0, inplace = True)

In [137]:
performance_table.shape

(1189, 29)

In [138]:
use_var = trn_binned_df.columns.tolist()
use_var.remove('BAD')

In [139]:
cate_cols = performance_table[performance_table['cate_var'] == 1].index.tolist()
len(cate_cols)

34

In [140]:
trn_binned_df.head(1)

,BAD,AS0000138,BS0000114,CA0000801,EW0002801,PS0000388,PS0000392,BE0000801,BE0000802,BS0000113,...,P2O000500_1_s6,LA0000001_1_s9,LA0000020_1_s9,LA0000227_1_s9,P2E000500_1_s9,LA0000001_1_s12,LA0000020_1_s12,LA0000204_1_s12,LA0000227_1_s12,P2O000500_1_s12
no,,,,,,,,,,,,,,,,,,,,,
1,1,1,0,1,1,1,0,0,0,0,...,"(-inf, 0.0]","(0.15, 0.33]","(0.15, 0.24]","(480.73, 1390.351]","(-inf, 0.0]","(0.12, 0.2]","(0.12, 0.21]","(746.292, 1491.66]","(738.152, 1154.473]","(-inf, 0.0]"

#### 필터링 항목 제외

In [141]:
filter_path = r'C:\Users\w10\Desktop\웰컴\AS\8주차(데이터추가추출부터)\필터링항목'

In [142]:
near_filter = pd.read_excel(os.path.join(filter_path, 'AS필터링항목_최종_레이아웃_200206_v1.0.xlsx'),
                           sheet_name = 'Near-Prime 필터링 필요항목 레이아웃')

In [143]:
sub_filter = pd.read_excel(os.path.join(filter_path, 'AS필터링항목_최종_레이아웃_200206_v1.0.xlsx'),
                           sheet_name = 'Sub-Prime 필터링 필요항목 레이아웃')

In [144]:
near_var = near_filter['항목코드'].tolist()
sub_var = sub_filter['항목코드'].tolist()
total_var = list(set(near_var).union(sub_var))

In [145]:
print(len(near_var))
print(len(sub_var))

82
86

In [146]:
len(total_var)

97

In [147]:
df_cols = trn_binned_df.columns.tolist()
need_var = list(set(df_cols).difference(total_var))
print(len(df_cols))
print(len(need_var))

1190
1130

In [148]:
trn_binned_df = trn_binned_df[need_var]
val_binned_df = val_binned_df[need_var]
tst_binned_df = tst_binned_df[need_var]
model_valid_binned_df = model_valid_binned_df[need_var]

In [149]:
trn_binned_df.shape

(73533, 1130)

In [150]:
performance_table = performance_table[performance_table.index.isin(need_var)]

In [151]:
performance_table.shape

(1129, 29)

In [152]:
use_var = trn_binned_df.columns.tolist()
use_var.remove('BAD')

In [153]:
cate_cols = performance_table[performance_table['cate_var'] == 1].index.tolist()
len(cate_cols)

32

In [154]:
?select_candidate_variable

Signature:
select_candidate_variable(
    binned_train_df,
    binned_valid_df,
    binned_test_df,
    binned_model_valid_df,
    performance_table,
    use_columns_list,
    category_columns_list,
    other_columns_list,
    other_psi_value,
    performance_item_list,
    group_divide_col_name,
    base_psi_value,
    top_value,
    stable_value,
    corr_value,
)
Docstring:
:explain: 단변량 분석을 통한 후보변수 선정 결과 및 상관분석 결과를 반환합니다.

:param dataframe binned_train_df: binning 된 train 데이터
:param dataframe binned_valid_df: binning 된 valid 데이터
:param dataframe binned_test_df: binning 된 test 데이터
:param dataframe binned_model_valid_df: binning 된 model valid 데이터
:param dataframe performance_table: performance table
:param list use_columns_list: 사용 변수 리스트
:param list category_columns_list: categorical 변수 리스트
:param list other_columns_list: PSI 기준값을 다르게 적용할 변수 리스트
:param float other_psi_value: 특정 변수에 적용할 PSI 기준값
:param list performance_item_list: iv, ks, ar 리스트 (주로 iv만 사용)
:param string group_divide_col_name: 정보그룹분류 항목명
:param float base_psi_value: PSI 기준값
:param float top_value: 변별력 기준값
:param float stable_value: 안정성 기준값
:param float corr_value: 상관분석 기준값
:return: 후보변수 선정 dataframe, 상관분석 dictionary, 상관성 높은 변수 제거한 상관분석 dictionary의 tuple
File:      c:\users\w10\desktop\단변량모듈\kh\univariate\univariate_analysis_other_psi.py
Type:      function

In [155]:
other_columns_list = performance_table[performance_table['group_2'] == 3].index.tolist()
len(other_columns_list)

172

In [158]:
select_start = datetime.now()
final_result = select_candidate_variable(
                                        binned_train_df = trn_binned_df,
                                        binned_valid_df = val_binned_df,
                                        binned_test_df = tst_binned_df,
                                        binned_model_valid_df = model_valid_binned_df,
                                        performance_table = performance_table,
                                        use_columns_list = use_var,
                                        category_columns_list = cate_cols,
                                        other_columns_list = other_columns_list,
                                        other_psi_value=0.05,
                                        performance_item_list = ['iv'],
                                        group_divide_col_name = 'group_2',
                                        base_psi_value = 0.1,
                                        top_value = 0.1,
                                        stable_value = 0.3,
                                        corr_value = 0.8
                                                   )

select_end = datetime.now()
select_time = (select_end-select_start).total_seconds()
print('수행시간 : {}(분) {}(초)'.format(select_time//60, select_time%60))

수행시간 : 1.0(분) 46.493306000000004(초)

In [159]:
final_performance_table = final_result[0]
corr_result_dict = final_result[1]
remove_corr_result_dict = final_result[2]

In [160]:
pd.set_option('display.max_columns', 100)

In [161]:
final_performance_table.head(2)

,NO,aggvar_name,group_code1,group_code2,group_2,총 건수,MISSING,결과값 = 0,MISSING(결과값 = 0 포함),n_unique,mean,min_value,max_value,median,is_na,min_check,max_check,date_var,cate_var,welc_can_use,ks_trn,ks_val,ks_tst,ar_trn,ar_val,ar_tst,iv_trn,iv_val,iv_tst,val_psi,val_psi_안정성,tst_psi,tst_psi_안정성,val_2019_psi,val_2019_psi_안정성,PSI_선정여부,iv_top_YN,변별력,iv_stable_YN,안정성,상관분석
Variable,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
A5RCLSDT011100,1488,총대출공여,웰컴항목,웰컴정보,6.0,72396,0,0,0,6,1.041093,1.0,6.0,1.0,0,0,0,0,0,활용 가능,0.130470,0.060774,0.054224,0.130470,0.060774,0.054224,0.000807,0.000187,0.000124,0.000006,Y,0.000068,Y,0.003037,Y,Y,N,N,N,N,N
A5RCLSDT011300,1514,제2금융기업총대출공여,웰컴항목,웰컴정보,6.0,72396,0,0,0,6,1.050569,1.0,6.0,1.0,0,0,0,0,0,활용 가능,0.626956,0.620664,0.637328,0.626956,0.620664,0.637328,0.002012,0.001949,0.002173,0.000003,Y,0.000041,Y,0.000177,Y,Y,N,N,N,N,N

In [162]:
remove_corr_result_dict['1.0'].head(2)

Variable,LA0000604,LU0000902_1,LC0000609,LA0000222_s12,LC0000608,LA0000203_s9,LS0000607,LC0000901,LA0000204_s12,LRZ00124G,LA0000204_s6,LA0000020_s9,LA1200206,LA0000227_s9,LA0000204_s3,LA0000001_s12,LS0000086,LH000000E,LA0000001_s6,LA1200203,LA0600203
Variable,,,,,,,,,,,,,,,,,,,,,
LA0000604,0.0,0.056064,0.739369,0.032497,0.585906,0.019521,0.438432,0.066343,0.026470,0.387726,0.075394,0.018329,0.011861,0.046902,0.147680,0.014805,0.151690,0.322621,0.025136,0.222834,0.135517
LU0000902_1,0.0,0.000000,0.063102,0.013178,0.077654,0.045503,0.142591,0.697678,0.052381,0.021710,0.048170,0.019637,0.001601,0.024695,0.026291,0.037282,0.084776,0.157103,0.040389,0.068493,0.072396

In [163]:
end_time = datetime.now()
total_execute_time = (end_time - start_time).total_seconds()

In [164]:
print('preprocessing execution time : {:.0f}분{:.0f}초'.format(preprocessing_time//60, preprocessing_time%60))
print('fine classing execution time : {:.0f}분{:.0f}초'.format(fine_time//60, fine_time%60))
print('coarse classing execution time : {:.0f}분{:.0f}초'.format(coarse_time//60, coarse_time%60))
print('calculate statistics execution time : {:.0f}분{:.0f}초'.format(calc_time//60, calc_time%60))
print('set base performance table execution time : {:.0f}분{:.0f}초'.format(perf_time//60, perf_time%60))
print('select candidate variable execution time : {:.0f}분{:.0f}초'.format(select_time//60, select_time%60))
print('=' * 30)
print('TOTAL EXECUTION TIME : {:.0f}분{:.0f}초'.format(total_execute_time//60, total_execute_time%60))
print('=' * 30)

preprocessing execution time : 1분29초
fine classing execution time : 1분51초
coarse classing execution time : 1분43초
calculate statistics execution time : 1분54초
set base performance table execution time : 1분57초
select candidate variable execution time : 1분46초
==============================
TOTAL EXECUTION TIME : 9분24초
==============================

In [165]:
final_performance_table.shape

(1129, 41)

In [171]:
final_performance_table[final_performance_table['상관분석']=='Y'].shape

(42, 41)

In [172]:
save_path = r'C:\Users\w10\Desktop\단변량모듈\KH\result'

In [173]:
final_performance_table.to_excel(os.path.join(save_path,'단변량모듈사용_단변량결과.xlsx'))