# <font color='red'> Colab 설명

## 셀

* 셀의 유형
  * 섹션 셀
  * 텍스트 셀
  * 코드 셀

* 모드
  * 편집모드
    * 선택모드 > 편집모드 전환: 더블클릭 또는 Enter
  * 선택모드
    * 편집모드 > 선택모드 전환: Esc
    * Esc 두번 누르면 스크롤 모드로 전환됨

* 섹션 숨기기/펼치기

## 섹션

*   섹션 셀 추가 시, 목차에 섹션 제목이 추가됩니다.
*   Heading 단위에 따라서 섹션의 상/하위가 결정됩니다.

## 중요 단축키

* 명령 팔레트: Ctrl + Shift + P
* 단축키 설정: Ctrl + M H
* 코드 스니펫: Ctrl + Alt  + P
* 셀 이동
  * 셀 위로 옮기기: Ctrl+Up (새로설정하기)
  * 셀 아래로 옮기기: Ctrl+Down (새로설정하기)
* 셀 삭제: Ctrl+M D
* 아래에 셀 추가
  *  코드 셀 추가: Ctrl+Shift+C (새로설정하기)
  *  섹션 셀 추가: Ctrl+Shift+H
  *  텍스트 셀 추가: Ctrl+Shift+X (새로설정하기)
* 코드 셀 실행
  * 재자리 실행: Ctrl+Enter
  * 실행 후 다음셀로 이동: Shift+Enter
  * 실행 후 아래에 코드셀 추가: Alt+Enter

In [0]:
# 재자리 실행 > 실행 후 다음셀로 이동 > 실행 후 아래에 코드셀 추가
print('실행되었습니다.')

## 사용자 정의 코드 스니핏 설정

도구 > 환경설정 > 싸이트 > Custom Snippets Notebook URL 설정

## 환경 확인

In [0]:
# OS 확인
import platform
platform.platform()

'Linux-4.14.79+-x86_64-with-Ubuntu-18.04-bionic'

In [0]:
# Python 버전 확인
import sys
sys.version_info

sys.version_info(major=3, minor=6, micro=8, releaselevel='final', serial=0)



---


# <font color='red'> Python Library or Package

## 라이브러리란?

*  특정 기능을 미리 구현해 놓은 코드 묶음
*  라이브러리 설치 방법: Bash 명령어 사용
```bash
pip install pandas
```

* 라이브러리 실행 방법
  * import 문을 이용하여 라이브러리 불러오기
  * "."을 이용하여 라이브러리 내 속성 및 함수(메쏘드)에 접근 가능
```python
import pandas as pd
df = pd.DataFrame()
```

## 설치된 라이브러리 확인

In [0]:
from pip._internal.utils.misc import get_installed_distributions
import pandas as pd
pkg_df = pd.DataFrame({'pkg_details': get_installed_distributions()})
pkg_df['pkg_name'] = pkg_df['pkg_details'].apply(lambda x: x.key)
pkg_df['pkg_version'] = pkg_df['pkg_details'].apply(lambda x: x.version)
pkg_df.sort_values(by=['pkg_name'], axis=0, inplace=True, ascending=True)

In [0]:
# 설치된 패키지 개수
print('설치된 패키지 개수', pkg_df.shape[0])

설치된 패키지 개수 372

In [0]:
# 상위 5개 확인
pkg_df.head()

               pkg_details        pkg_name pkg_version
366          absl-py 0.7.1         absl-py       0.7.1
365       alabaster 0.7.12       alabaster      0.7.12
364  albumentations 0.1.12  albumentations      0.1.12
363           altair 3.1.0          altair       3.1.0
362            astor 0.8.0           astor       0.8.0

In [0]:
# 하위 5개 확인
pkg_df.tail()

         pkg_details     pkg_name pkg_version
4         xlwt 1.3.0         xlwt       1.3.0
3  yellowbrick 0.9.1  yellowbrick       0.9.1
2         zict 1.0.0         zict       1.0.0
1         zipp 0.5.1         zipp       0.5.1
0          zmq 0.0.0          zmq       0.0.0

## 주요 라이브러리

* Python 기본 Built-in 라이브러리
  * os
  * dd
* 데이터 핸들링 라이브러리
  * Numpy
  * [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html)
* 시각화 라이브러리
  * [matploblib](https://matplotlib.org/)
  * seaborn
  * plotly
* 머신러닝 라이브러리
  * [sklearn](https://scikit-learn.org/stable/index.html)
  * H2O
* 딥러닝 라이브러리
  * keras
  * tensorflow

In [0]:
# 관심있는 패키지 확인
int_pkg_list = ['pandas', 'numpy', 'matplotlib', 'sklearn', 'tensorflow', 'plotly', 'seaborn']
int_pkg_df = pkg_df[pkg_df['pkg_name'].isin(int_pkg_list)].copy()
int_pkg_df

           pkg_details    pkg_name pkg_version
189   matplotlib 3.0.3  matplotlib       3.0.3
160       numpy 1.16.4       numpy      1.16.4
145      pandas 0.24.2      pandas      0.24.2
134       plotly 3.6.1      plotly       3.6.1
73       seaborn 0.9.0     seaborn       0.9.0
64         sklearn 0.0     sklearn         0.0
41   tensorflow 1.14.0  tensorflow      1.14.0

In [0]:
# 특정 패키지 버전 확인
import pandas as pd
import sklearn
print(pd.__version__)
print(sklearn.__version__)

0.24.2
0.21.2



---


# <font color='red'> Python 기본 데이터 유형

* 숫자형
  * 정수형
    * a = 1
  * 실수형
    * b = 2.0
* 문자형
  * 문자열
    * c = '문자열'
* 리스트
  * d_list = ['1', '2', 3, 99.0]
* 딕셔니리
  * e_dict = {'key1': 1, 'key': '문자열'}

In [0]:
# 정수형 변수 선언 및 값 할당
# 변수
# 할당 연산자
var_int = 1
print('var_int 값: ', var_int)
print('var_int 타입: ', type(var_int))

var_int 값:  1
var_int 타입:  <class 'int'>

In [0]:
# 문자열 변수 선엄 및 값 할당
var_str = '문자열값'
print('var_str 값: ', var_str)
print('var_str 타입: ', type(var_str))

var_str 값:  문자열값
var_str 타입:  <class 'str'>

In [0]:
# 리스트 변수 선엄 및 값 할당
var_list = [1, 2.0, '리스트 요소 문자열']
print('var_list 값: ', var_list)
print('var_list 타입: ', type(var_list))
print('----------------------------------\n')

# 리스트 요소 접근: 첫번째 값 출력
print('var_list의 첫번째 요소 값: ', var_list[0])

# 리스트 요소 수정: 첫번째 값 변경
var_list[0] = 99
print('var_list의 첫번째 요소 값: ', var_list[0])

var_list 값:  [1, 2.0, '리스트 요소 문자열']
var_list 타입:  <class 'list'>
----------------------------------

var_list의 첫번째 요소 값:  1
var_list의 첫번째 요소 값:  99

In [0]:
# 딕셔너리 변수 선엄 및 값 할당
var_dict = {'key1': 1, 'key2': 2.0, 'key3': '리스트 요소 문자열'}
print('var_dict 값: ', var_dict)
print('var_dict 타입: ', type(var_dict))
print('----------------------------------\n')

# 딕셔너리 요소 접근: key1 값 출력
print('var_dict의 key1 요소 값: ', var_dict['key1'])

# 딕셔너리 요소 수정: key1 값 변경
var_dict['key1'] = 99
print('var_list의 key1 요소 값: ', var_dict['key1'])

var_dict 값:  {'key1': 1, 'key2': 2.0, 'key3': '리스트 요소 문자열'}
var_dict 타입:  <class 'dict'>
----------------------------------

var_dict의 key1 요소 값:  1
var_list의 key1 요소 값:  99



---


# <font color='red'> 데이터 읽기

* [렌딩클럽 데이터](https://www.kaggle.com/wendykan/lending-club-loan-data)

## 구글 드라이브 접근 권한

In [0]:
# 구글 드라이브 접근 권한 획득
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
# 구글 드라이브 접근 확인하기
!ls -lt "/content/gdrive/My Drive"

total 693
drwx------ 2 root root   4096 Jul 15 03:26 'data analysis HRD(ML)'
drwx------ 2 root root   4096 Jul 12 08:51  ML_Datasets
drwx------ 2 root root   4096 Jul 12 08:42 'Colab Notebooks'
-rw------- 1 root root 696774 Jul  2 09:44 'Getting started.pdf'

## 데이터프레임 생성

### 파일 형식 확인

In [0]:
import os

# 파일 경로 설정
folder_path = r'/content/gdrive/My Drive/ML_Datasets'
fname = 'loan.csv'
fpath = folder_path + os.sep + fname

In [0]:
# 5줄 확인하기
with open(fpath, 'r') as f:
  for i in range(5):
    line = f.readline()
    print(line)

id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term

,,2500,2500,2500, 36 months,13.56,84.92,C,C1,Chef,10+ years,RENT,55000,Not Verified,Dec-2018,Current,n,,,debt_consolidation,Debt consolidation,109xx,NY,18.24,0,Apr-2001,1,,45,9,1,4341,10.3,34,w,2386.02,2386.02,167.02,167.02,113.98,53.04,0.0,0.0,0.0,Feb-2019,84.92,Mar-2019,Feb-2019,0,,1,Individual,,,,0,0,16901,2,2,1,2,2,12560,69,2,7,2137,28,42000,1,11,2,9,1878,34360,5.9,0,0,140,212,1,1,0,1,,2,,0,2,5,3,3,16,7,18,5,9,0,0,0,3,100,0,1,0,60124,16901,36500,18124,,,,,,,,,,,,N,,,,,,,,,,,,,,,Cash,N,,,,,,

,,30000,30000,30000, 60 months,18.94,777.23,D,D2,Postmaster ,10+ years,MORTGAGE,90000,Source Verified,Dec-2018,Current,n,,,debt_consolidation,Debt consolidation,713xx,LA,26.52,0,Jun-1987,0,71,75,13,1,12315,24.2,44,w,29387.75,29387.75,1507.11,1507.11,612.25,894.86,0.0,0.0,0.0,Feb-2019,777.23,Mar-2019,Feb-2019,0,,1,Individual,,,,0,1208,321915,4,4,2,3,3,87153,88,4,5,998,57,50800,2,15,2,10,24763,13761,8.3,0,0,163,378,4,3,3,4,,4,,0,2,4,4,9,27,8,14,4,13,0,0,0,6,95,0,1,0,372872,99468,15000,94072,,,,,,,,,,,,N,,,,,,,,,,,,,,,Cash,N,,,,,,

,,5000,5000,5000, 36 months,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280,Source Verified,Dec-2018,Current,n,,,debt_consolidation,Debt consolidation,490xx,MI,10.51,0,Apr-2011,0,,,8,0,4599,19.1,13,w,4787.21,4787.21,353.89,353.89,212.79,141.10,0.0,0.0,0.0,Feb-2019,180.69,Mar-2019,Feb-2019,0,,1,Individual,,,,0,0,110299,0,1,0,2,14,7150,72,0,2,0,35,24100,1,5,0,4,18383,13800,0,0,0,87,92,15,14,2,77,,14,,0,0,3,3,3,4,6,7,3,8,0,0,0,0,100,0,0,0,136927,11749,13800,10000,,,,,,,,,,,,N,,,,,,,,,,,,,,,Cash,N,,,,,,

,,4000,4000,4000, 36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,MORTGAGE,92000,Source Verified,Dec-2018,Current,n,,,debt_consolidation,Debt consolidation,985xx,WA,16.74,0,Feb-2006,0,,,10,0,5468,78.1,13,w,3831.93,3831.93,286.71,286.71,168.07,118.64,0.0,0.0,0.0,Feb-2019,146.51,Mar-2019,Feb-2019,0,,1,Individual,,,,0,686,305049,1,5,3,5,5,30683,68,0,0,3761,70,7000,2,4,3,5,30505,1239,75.2,0,0,62,154,64,5,3,64,,5,,0,1,2,1,2,7,2,3,2,10,0,0,0,3,100,100,0,0,385183,36151,5000,44984,,,,,,,,,,,,N,,,,,,,,,,,,,,,Cash,N,,,,,,

### Pandas로 csv 파일 읽기: 1000개 행만..
[read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html?highlight=read_csv#pandas.read_csv)

In [0]:
import pandas as pd

loan_df = pd.read_csv(fpath,
                        header=0,
                        # engine='python',
                        sep=',',
                        index_col=False,
                        na_filter=False,
                        encoding='utf-8',
                        # quoting=csv.QUOTE_NONE,
                        # converters=col_converter,
                        dtype=object,                        
                        na_values=None,
                        keep_default_na=False,
                        # usecols=use_cols,
                        nrows=1000,
                        )

# 데이터프레임 속성 확인

In [0]:
# info 확인
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 145 entries, id to settlement_term
dtypes: object(145)
memory usage: 1.1+ MB

In [0]:
# shape 확인
print(loan_df.shape)

# shape의 데이터 유형 확인
print(type(loan_df.shape))

(1000, 145)
<class 'tuple'>

In [0]:
# 컬럼명 확인
df_cols = list(loan_df.columns)
df_cols

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [0]:
# 컬럼별 데이터 유형 확인
for s in loan_df.dtypes.iteritems():
  print(s)

('id', dtype('O'))
('member_id', dtype('O'))
('loan_amnt', dtype('O'))
('funded_amnt', dtype('O'))
('funded_amnt_inv', dtype('O'))
('term', dtype('O'))
('int_rate', dtype('O'))
('installment', dtype('O'))
('grade', dtype('O'))
('sub_grade', dtype('O'))
('emp_title', dtype('O'))
('emp_length', dtype('O'))
('home_ownership', dtype('O'))
('annual_inc', dtype('O'))
('verification_status', dtype('O'))
('issue_d', dtype('O'))
('loan_status', dtype('O'))
('pymnt_plan', dtype('O'))
('url', dtype('O'))
('desc', dtype('O'))
('purpose', dtype('O'))
('title', dtype('O'))
('zip_code', dtype('O'))
('addr_state', dtype('O'))
('dti', dtype('O'))
('delinq_2yrs', dtype('O'))
('earliest_cr_line', dtype('O'))
('inq_last_6mths', dtype('O'))
('mths_since_last_delinq', dtype('O'))
('mths_since_last_record', dtype('O'))
('open_acc', dtype('O'))
('pub_rec', dtype('O'))
('revol_bal', dtype('O'))
('revol_util', dtype('O'))
('total_acc', dtype('O'))
('initial_list_status', dtype('O'))
('out_prncp', dtype('O'))
('out_prncp_inv', dtype('O'))
('total_pymnt', dtype('O'))
('total_pymnt_inv', dtype('O'))
('total_rec_prncp', dtype('O'))
('total_rec_int', dtype('O'))
('total_rec_late_fee', dtype('O'))
('recoveries', dtype('O'))
('collection_recovery_fee', dtype('O'))
('last_pymnt_d', dtype('O'))
('last_pymnt_amnt', dtype('O'))
('next_pymnt_d', dtype('O'))
('last_credit_pull_d', dtype('O'))
('collections_12_mths_ex_med', dtype('O'))
('mths_since_last_major_derog', dtype('O'))
('policy_code', dtype('O'))
('application_type', dtype('O'))
('annual_inc_joint', dtype('O'))
('dti_joint', dtype('O'))
('verification_status_joint', dtype('O'))
('acc_now_delinq', dtype('O'))
('tot_coll_amt', dtype('O'))
('tot_cur_bal', dtype('O'))
('open_acc_6m', dtype('O'))
('open_act_il', dtype('O'))
('open_il_12m', dtype('O'))
('open_il_24m', dtype('O'))
('mths_since_rcnt_il', dtype('O'))
('total_bal_il', dtype('O'))
('il_util', dtype('O'))
('open_rv_12m', dtype('O'))
('open_rv_24m', dtype('O'))
('max_bal_bc', dtype('O'))
('all_util', dtype('O'))
('total_rev_hi_lim', dtype('O'))
('inq_fi', dtype('O'))
('total_cu_tl', dtype('O'))
('inq_last_12m', dtype('O'))
('acc_open_past_24mths', dtype('O'))
('avg_cur_bal', dtype('O'))
('bc_open_to_buy', dtype('O'))
('bc_util', dtype('O'))
('chargeoff_within_12_mths', dtype('O'))
('delinq_amnt', dtype('O'))
('mo_sin_old_il_acct', dtype('O'))
('mo_sin_old_rev_tl_op', dtype('O'))
('mo_sin_rcnt_rev_tl_op', dtype('O'))
('mo_sin_rcnt_tl', dtype('O'))
('mort_acc', dtype('O'))
('mths_since_recent_bc', dtype('O'))
('mths_since_recent_bc_dlq', dtype('O'))
('mths_since_recent_inq', dtype('O'))
('mths_since_recent_revol_delinq', dtype('O'))
('num_accts_ever_120_pd', dtype('O'))
('num_actv_bc_tl', dtype('O'))
('num_actv_rev_tl', dtype('O'))
('num_bc_sats', dtype('O'))
('num_bc_tl', dtype('O'))
('num_il_tl', dtype('O'))
('num_op_rev_tl', dtype('O'))
('num_rev_accts', dtype('O'))
('num_rev_tl_bal_gt_0', dtype('O'))
('num_sats', dtype('O'))
('num_tl_120dpd_2m', dtype('O'))
('num_tl_30dpd', dtype('O'))
('num_tl_90g_dpd_24m', dtype('O'))
('num_tl_op_past_12m', dtype('O'))
('pct_tl_nvr_dlq', dtype('O'))
('percent_bc_gt_75', dtype('O'))
('pub_rec_bankruptcies', dtype('O'))
('tax_liens', dtype('O'))
('tot_hi_cred_lim', dtype('O'))
('total_bal_ex_mort', dtype('O'))
('total_bc_limit', dtype('O'))
('total_il_high_credit_limit', dtype('O'))
('revol_bal_joint', dtype('O'))
('sec_app_earliest_cr_line', dtype('O'))
('sec_app_inq_last_6mths', dtype('O'))
('sec_app_mort_acc', dtype('O'))
('sec_app_open_acc', dtype('O'))
('sec_app_revol_util', dtype('O'))
('sec_app_open_act_il', dtype('O'))
('sec_app_num_rev_accts', dtype('O'))
('sec_app_chargeoff_within_12_mths', dtype('O'))
('sec_app_collections_12_mths_ex_med', dtype('O'))
('sec_app_mths_since_last_major_derog', dtype('O'))
('hardship_flag', dtype('O'))
('hardship_type', dtype('O'))
('hardship_reason', dtype('O'))
('hardship_status', dtype('O'))
('deferral_term', dtype('O'))
('hardship_amount', dtype('O'))
('hardship_start_date', dtype('O'))
('hardship_end_date', dtype('O'))
('payment_plan_start_date', dtype('O'))
('hardship_length', dtype('O'))
('hardship_dpd', dtype('O'))
('hardship_loan_status', dtype('O'))
('orig_projected_additional_accrued_interest', dtype('O'))
('hardship_payoff_balance_amount', dtype('O'))
('hardship_last_payment_amount', dtype('O'))
('disbursement_method', dtype('O'))
('debt_settlement_flag', dtype('O'))
('debt_settlement_flag_date', dtype('O'))
('settlement_status', dtype('O'))
('settlement_date', dtype('O'))
('settlement_amount', dtype('O'))
('settlement_percentage', dtype('O'))
('settlement_term', dtype('O'))

In [0]:
# 컬럼별 데이터 유형 확인
loan_df.dtypes.values

array([dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'),
       dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')],
      dtype=object)

In [0]:
# 문자열 컬럼의 개요 확인
loan_df.describe()

          id member_id  ... settlement_percentage settlement_term
count   1000      1000  ...                  1000            1000
unique     1         1  ...                     1               1
top                     ...
freq    1000      1000  ...                  1000            1000

[4 rows x 145 columns]

In [0]:
# 첫번째 2개 행(row) 확인
loan_df.head(2)

  id member_id  ... settlement_percentage settlement_term
0               ...
1               ...

[2 rows x 145 columns]

In [0]:
# 마지막 2개 행(row) 확인
loan_df.tail(2)

    id member_id  ... settlement_percentage settlement_term
998               ...
999               ...

[2 rows x 145 columns]

## 컬럼별 데이터 타입 설정

In [0]:
import pandas as pd

col_type_dict = {'loan_amnt': int, 'funded_amnt': int, 'funded_amnt_inv': int, 'term': str, 'int_rate': float, 'installment': float}
loan_df2 = pd.read_csv(fpath,
                        header=0,
                        # engine='python',
                        sep=',',
                        index_col=False,
                        na_filter=False,
                        encoding='utf-8',
                        # quoting=csv.QUOTE_NONE,
                        converters=col_type_dict,
#                         dtype=object,                        
                        na_values=None,
                        keep_default_na=False,
                        # usecols=use_cols,
                        nrows=1000,
                        )

In [0]:
keep_cols = ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment']
loan_df2 = loan_df2[keep_cols].copy()

In [0]:
loan_df2.dtypes

loan_amnt            int64
funded_amnt          int64
funded_amnt_inv      int64
term                object
int_rate           float64
installment        float64
dtype: object

In [0]:
loan_df2.head(2)

   loan_amnt  funded_amnt  funded_amnt_inv        term  int_rate  installment
0       2500         2500             2500   36 months     13.56        84.92
1      30000        30000            30000   60 months     18.94       777.23

# 데이터프레임 핸들링

## 컬럼명 변경

In [0]:
# amnt를 amt로 변경
rename_col_dict = {'loan_amnt': 'loan_amt', 'funded_amnt': 'funded_amt', 'funded_amnt_inv': 'funded_amt_inv'}
loan_df2.rename(columns=rename_col_dict, inplace=True)

In [0]:
loan_df2.head()

   loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
0      2500        2500            2500   36 months     13.56        84.92
1     30000       30000           30000   60 months     18.94       777.23
2      5000        5000            5000   36 months     17.97       180.69
3      4000        4000            4000   36 months     18.94       146.51
4     30000       30000           30000   60 months     16.14       731.78

## 정렬

In [0]:
# 값을 기준으로 정렬하기
loan_df2.sort_values(by=['term', 'int_rate'], axis=0, inplace=True, ascending=True)

In [0]:
loan_df2.head()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
38       6000        6000            5975   36 months      6.46       183.79
63       9000        9000            8975   36 months      6.46       275.68
206      6000        6000            6000   36 months      6.46       183.79
225      1000        1000             975   36 months      6.46        30.64
283      5000        5000            5000   36 months      6.46       153.16

In [0]:
loan_df2.tail()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
178     30000       30000           30000   60 months     27.27       920.91
190     16000       16000           16000   60 months     27.27       491.16
198     24000       24000           24000   60 months     27.27       736.73
573     17000       17000           17000   60 months     27.27       521.85
621     32000       32000           32000   60 months     27.27       982.31

In [0]:
# 인덱스 기준으로 정렬
loan_df2.sort_index(axis=0, inplace=True, ascending=True)

In [0]:
loan_df2.head()

   loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
0      2500        2500            2500   36 months     13.56        84.92
1     30000       30000           30000   60 months     18.94       777.23
2      5000        5000            5000   36 months     17.97       180.69
3      4000        4000            4000   36 months     18.94       146.51
4     30000       30000           30000   60 months     16.14       731.78

In [0]:
loan_df2.tail()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
995     25000       25000           25000   60 months     20.89       674.79
996     30000       30000           30000   60 months     14.47       705.38
997     20000       20000           20000   36 months     10.33       648.45
998      6000        6000            6000   36 months     19.92       222.74
999     29000       29000           29000   36 months     14.47       997.79

## 열 선택

In [0]:
# drop 함수를 이용하여 특정 컬럼을 삭제
drop_cols = ['funded_amt_inv', 'installment',]
loan_final_df1 = loan_df2.drop(columns=drop_cols, inplace=False)
print(loan_final_df1.shape)
loan_final_df1.head(1)

(1000, 4)

   loan_amt  funded_amt        term  int_rate
0      2500        2500   36 months     13.56

In [0]:
# 컬럼 인덱싱을 통해서 특정 컬럼만 남겨 놓는 방식
# drop 함수를 이용하여 특정 컬럼을 삭제
keep_cols = ['loan_amt', 'funded_amt', 'term', 'int_rate',]
loan_final_df2 = loan_df2[keep_cols].copy()
print(loan_final_df2.shape)
loan_final_df2.head(1)

(1000, 4)

   loan_amt  funded_amt        term  int_rate
0      2500        2500   36 months     13.56

## 행 선택

### boolean filter 생성 >> 적용

In [0]:
loan_df2.sort_values(by=['term'], axis=0, inplace=True, ascending=True)

In [0]:
# Boolean Filter 생성
'''
특정 컬럼(들)의 참/거짓 연산을 통해서 산출된 True, False로 이루어진 Series
'''


bool_filter_example_se = loan_df2['term'] == ' 60 months'

In [0]:
# 처음 5개 확인
bool_filter_example_se[:5]

0      False
607    False
608    False
609    False
610    False
Name: term, dtype: bool

In [0]:
# 마지막 5개 확인
bool_filter_example_se[-5:]

231    True
236    True
238    True
222    True
499    True
Name: term, dtype: bool

In [0]:
# 필터를 적용하여 60개월 데이터만 추출하기
loan_60mon_df = loan_df2[bool_filter_example_se].copy()
print('필터적용전 shape: ', loan_df2.shape)
print('필터적용후 shape: ', loan_60mon_df.shape)

필터적용전 shape:  (1000, 6)
필터적용후 shape:  (301, 6)

In [0]:
loan_60mon_df.head()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
833     40000       40000           40000   60 months      8.19       814.70
145     10500       10500           10500   60 months     11.80       232.51
818     40000       40000           40000   60 months     11.80       885.75
996     30000       30000           30000   60 months     14.47       705.38
814     38800       38800           38800   60 months     11.80       859.17

### boolean filter 생성 & 적용

In [0]:
loan_60mon_df = loan_df2[loan_df2['term']== ' 60 months'].copy()
print('필터적용후 shape: ', loan_60mon_df.shape)

필터적용후 shape:  (301, 6)

### 복수의 boolean fiter 생성 >> 적용

In [0]:
# 만기 60개월 이상 필터
bf_term = loan_df2['term'] == ' 60 months'

# 이자율 20% 이상 필터
bf_int_rate = loan_df2['int_rate'] >= 20.0

# 만기 60개월이면서 이자율 20%이상 필터
bf_term_int_rate = bf_term & bf_int_rate

loan_60mon_high_df = loan_df2[bf_term_int_rate].copy()
loan_60mon_high_df.head()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
995     25000       25000           25000   60 months     20.89       674.79
804     17500       17500           17500   60 months     22.35       486.82
991     16375       16375           16375   60 months     22.35       455.53
27      23000       23000           23000   60 months     20.89       620.81
76      12000       12000           12000   60 months     22.35       333.82

### 복수의 boolean fiter 생성 & 적용
[비트연산자](https://wikidocs.net/1161)

In [0]:
# 만기 60개월이면서(AND) 이자율 20%이상 필터 (& 연산자)
loan_60mon_high_df = loan_df2[(loan_df2['term'] == ' 60 months') & (loan_df2['int_rate'] >= 20.0)].copy()
loan_60mon_high_df.head()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
995     25000       25000           25000   60 months     20.89       674.79
804     17500       17500           17500   60 months     22.35       486.82
991     16375       16375           16375   60 months     22.35       455.53
27      23000       23000           23000   60 months     20.89       620.81
76      12000       12000           12000   60 months     22.35       333.82

In [0]:
# 만기 60개월이거나(OR) 이자율 20%이상 필터 (| 연산자)
loan_60mon_or_high_df = loan_df2[(loan_df2['term'] == ' 60 months') | (loan_df2['int_rate'] >= 20.0)].copy()
loan_60mon_or_high_df.head()

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
609     24900       24900           24900   36 months     20.89       936.71
612     10300       10300           10300   36 months     23.40       400.87
617     35000       35000           35000   36 months     24.37      1379.96
689     25000       25000           25000   36 months     27.27      1024.26
671     10000       10000           10000   36 months     20.89       376.19

### boolean filter의 여집합

In [0]:
# 만기 60개월이 아닌 필터 (| 연산자)
loan_not_60mon_df1 = loan_df2[loan_df2['term'] != ' 60 months'].copy()
loan_not_60mon_df2 = loan_df2[~(loan_df2['term'] == ' 60 months')].copy()

print(loan_not_60mon_df1.shape)
print(loan_not_60mon_df2.shape)

(699, 6)
(699, 6)

## 중복 행 제거

### 중복 여부 boolean fiter 생성 >> 적용
[duplicted](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html?highlight=duplicated#pandas.DataFrame.duplicated)

In [0]:
# 값 정렬
loan_df2.sort_values(by=['loan_amt', 'funded_amt', 'term', 'int_rate',], axis=0, inplace=True, ascending=True)
loan_df2.tail(8)

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
540     40000       40000           40000   60 months     13.56       921.64
55      40000       40000           40000   60 months     14.47       940.51
850     40000       40000           40000   60 months     15.02       952.02
447     40000       40000           40000   60 months     15.02       952.02
679     40000       40000           40000   60 months     15.02       952.02
152     40000       40000           40000   60 months     16.14       975.71
826     40000       40000           40000   60 months     18.94      1036.31
981     40000       40000           40000   60 months     19.92      1057.98

In [0]:
nodup_cols = ['loan_amt', 'funded_amt', 'term', 'int_rate',]
bf_dup = loan_df2.duplicated(subset=nodup_cols, keep='first')
bf_dup[-8:]

540    False
55     False
850    False
447     True
679     True
152    False
826    False
981    False
dtype: bool

In [0]:
# boolean fiter 적용
loan_nodup_df = loan_df2[~bf_dup].copy()
loan_nodup_df.tail(5)

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
55      40000       40000           40000   60 months     14.47       940.51
850     40000       40000           40000   60 months     15.02       952.02
152     40000       40000           40000   60 months     16.14       975.71
826     40000       40000           40000   60 months     18.94      1036.31
981     40000       40000           40000   60 months     19.92      1057.98

### 중복 제거
[drop_duplicates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html?highlight=drop_duplicates#pandas.DataFrame.drop_duplicates)

In [0]:
nodup_cols = ['loan_amt', 'funded_amt', 'term', 'int_rate',]
loan_nodup_df = loan_df2.drop_duplicates(subset=nodup_cols, keep='first', inplace=False)
loan_nodup_df.tail(5)

     loan_amt  funded_amt  funded_amt_inv        term  int_rate  installment
55      40000       40000           40000   60 months     14.47       940.51
850     40000       40000           40000   60 months     15.02       952.02
152     40000       40000           40000   60 months     16.14       975.71
826     40000       40000           40000   60 months     18.94      1036.31
981     40000       40000           40000   60 months     19.92      1057.98

END OF FILE
___